.confirm-container {

  text-align: center;
  margin-top: 13rem;
  margin-bottom: 8rem;
}

.button-group {
  margin-top: 20px;
}

.btn-yes,
.btn-no,
.btn-back {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-yes {
  background-color: green;
  color: white;
  margin-right: 10px;
}

.btn-no {
  background-color: red;
  color: white;
}

.btn-back {
  background-color: #555;
  color: white;
  margin-top: 15px;
}

.success-message {
  margin-top: 30px;
  color: green;
}
